
<div class="about-descr">
  <% @career_details.each do |career_detail| %>
  <p class="p-heading">
   <%= career_detail.heading %></p>
    <p class="separator">
    <%= career_detail.details %></p>
    <% end %>

      </div>
