
<div class="about-descr">
  <% @career_details.each do |career_detail| %>
  <p class="p-heading">
   <%= career_detail.heading %></p>
   <div class="d-flex justify-content-start">

  <%= career_detail.details %>
  </div>

    <% end %>
  </div>
