<div id="<%= dom_id career_detail %>">
  <p>
    <strong>Heading:</strong>
    <%= career_detail.heading %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= career_detail.details %>
  </p>

</div>
