<div id="<%= dom_id career_detail %>">
  <div class="card-header bg-transparent border-success">
  <p class="h3">
    <%= career_detail.heading %>
  </p>
  </div>
  <div class="card-body text-success">
  <p>
    <%= career_detail.details %>
  </p>

  </div>
</div>
