<h1>Editing career detail</h1>

<%= render "form", career_detail: @career_detail %>

<br>

<div>
  <%= link_to "Show this career detail", @career_detail %> |
  <%= link_to "Back to career details", career_details_path %>
</div>
