<%if current_user%>
    <%if current_user.admin?%>
  <center class="mt-20">
  <div class="card col-md-8">
  <div class="card-header">
    <h1>New blog</h1>
  </div>
    <div class="card-body">
    <%= render "form", blog: @blog %>
<br>
<div>
  <%= link_to "Back to blogs", blogs_path %>
</div>
</div>
</center>
<%end%>
<%end%>
