<div class="row">
  <div class="comment-form">
      <%= form_with model: [commentable, local] do |f|%>
      <div class="from-group">
        <%= f.rich_text_area :body, placeholder: "Comment", method: :patch %>
        <%= f.submit class: "btn btn-default float-right "%>
      </div>
      <%end%>
  </div>
</div>
