<h1>Editing ml portfolio</h1>

<%= render "form", ml_portfolio: @ml_portfolio %>

<br>

<div>
  <%= link_to "Show this ml portfolio", @ml_portfolio %> |
  <%= link_to "Back to ml portfolios", ml_portfolios_path %>
</div>
