<h1>Editing web portfolio</h1>

<%= render "form", web_portfolio: @web_portfolio %>

<br>

<div>
  <%= link_to "Show this web portfolio", @web_portfolio %> |
  <%= link_to "Back to web portfolios", web_portfolios_path %>
</div>
