<center class="mt-20">
<div class="card col-md-8">
  <div class="card-header">
<h1>New web portfolio</h1>
  </div>
    <div class="card-body">
      <%= render "form", web_portfolio: @web_portfolio %>
      <br>

<div>
  <%= link_to "Back to web portfolios", web_portfolios_path %>
</div>
</div>
</center>
